# PostgreSQL configuration
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: password
  host: localhost
  port: 5432
  pool: 5
  
development:
  <<: *default
  database: family_habit_development
  username: postgres
  password: password

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: postgres
  password: postgres
  database: test_db
  port: 5432