# PostgreSQL configuration
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: password
  host: localhost
  port: 5432
  pool: 5
  
development:
  <<: *default
  database: family_habit_development
  username: postgres
  password: password

test:
  <<: *default
  adapter: postgresql
  encoding: unicode
  database: <%= ENV['PGDATABASE'] || 'family_habit_test' %>
  username: <%= ENV['PGUSER'] || 'postgres' %>
  password: <%= ENV['PGPASSWORD'] || 'postgres' %>
  host: <%= ENV['PGHOST'] || '127.0.0.1' %>
  port: <%= ENV['PGPORT'] || 5432 %>

production:
  <<: *default
  database: family_habit_production